<!-- Banner -->
  <section id="banner">
    <div class="inner">
      <h2>Del Sade</h2>
      <p>Otra forma de conocer<br />
      las historias ocultas<br />
      que nos gustan</p>
      <ul class="actions">
        <li><a href="#" class="button special">Unete</a></li>
      </ul>
    </div>
    <a href="#one" class="more scrolly">Conocenos</a>
  </section>

<!-- One -->
  <section id="one" class="wrapper style1 special">
    <div class="inner">
      <header class="major">
        <h2>Situaciones sensuales, escritas por <br />
        personas reales, el lado deseado al descubierto</h2>
        <p>En algun lugar, en algun momento, alguien estaba teniendo la aventura de su vida<br />
        fingido o real su orgasmo, nos narraran paso a paso como logro llegar al extasis</p>
        <p>Aqui puedes espiar desde la ventana de la casa de junto, ser de la persona<br />
        de quien hablan o ser el que esta hablando, ¿Que papel quieres jugar?</p>
      </header>
      <ul class="icons major">
        <li><span title="Espia" class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
        <li><span title="Actor" class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
        <li><span title="Escritor" class="icon fa-code major style3" ><span class="label">Dolor</span></span></li>
      </ul>
    </div>
  </section>

<!-- Two -->

  <section id="two" class="wrapper alt style2">
    <section class="spotlight">
      <div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
        <h2>El hombre de mi sueños<br />
        me dejo con mas ganas de seguir soñando </h2>
        <p>Una mañana, salia de la escuela, apenas tenia 17 y el 22, podria describirlo tan detalladamente, pero haria que me mojara mas ... <br />
        <a href="?hisrotia=34"><i>seguir leyendo ...</i> </a></p>
      </div>
    </section>
    <section class="spotlight">
      <div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
        <h2>Lo que paso despues<br />
        y no se oculta</h2>
        <p>Ojos de azul como el mar, de piel blanca como luz de luna, voz grave y profunda, muy muy delgado, pero atrevido en el sexo ...
        <br />
        <a href="?hisrotia=156"><i>seguir leyendo ...</i> </a></p>

      </div>
    </section>
    <section class="spotlight">
      <div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
        <h2>Mi primera vez con mi<br />
        ex de prepa</h2>
        <p>Yo tenia el turno de la mñaana y ella de la tarde, por eso su casa era el punto de reunion que tomaba con frecuencia, pero
        esta ves hubo algo mas...
        <br />
        <a href="?hisrotia=79"><i>seguir leyendo ...</i> </a></p>
      </div>
    </section>
  </section>

<!-- Three -->

  <section id="three" class="wrapper style3 special">
    <div class="inner">
      <header class="major">
        <h2>Conoce los escritores de pasion</h2>
        <p>Los artistas que entre sus palabras nos dejan ver que han hecho y como <br />
        lo han hecho, sin rodeos, y bien explicados. Como Madam Ducles, no omitan <br />
        detalle alguno, no queremos perdenos nada.</p>
      </header>
      <ul class="features">
        <li class="icon fa-code">
          <h3>Torrepija</h3>
          <p>Tomado el nombre del jodedor de "120 dias en sodoma", no fallare a mi apodo, sin discriminacion, hombre o mujer, te explicare como paso logre dominar a mis conquistas</p>
        </li>
        <li class="icon fa-laptop">
          <h3>Laura</h3>
          <p>Aunque de lentes y adicta a libros, nunca pensarias que la intelectual de tu salon te podria hacer sentir traversuas bajo sus versos</p>
        </li>
        <!--
        <li class="icon fa-paper-plane-o">
          <h3>Mus Scelerisque</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-headphones">
          <h3>Mauris Imperdiet</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-heart-o">
          <h3>Aenean Primis</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-flag-o">
          <h3>Tortor Ut</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        -->
      </ul>
    </div>
  </section>
